@model IEnumerable<SystemZarzadzaniaBiblioteka.Models.ApplicationUser>
@{
    ViewData["Title"] = "Panel Użytkowników";
}

<h1>Zarządzanie Użytkownikami</h1>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Email / Login</th>
            <th>ID Użytkownika</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td><small class="text-muted">@user.Id</small></td>
                <td>
                    <a asp-controller="Admin" asp-action="UserLoans" asp-route-userId="@user.Id" class="btn btn-info btn-sm text-white">
                        Zobacz wypożyczenia
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>