@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header bg-primary text-white">
                <h3 class="text-center font-weight-light my-2">@ViewData["Title"]</h3>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <input asp-for="Input.Code" type="hidden" />

                    <div class="text-center mb-3">
                        <p class="text-muted">Ustaw nowe hasło dla swojego konta.</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="text-secondary">Adres Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="text-secondary">Nowe hasło</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="text-secondary">Potwierdź nowe hasło</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Zresetuj hasło</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}